/*---> Header */
.header {
	text-align: center;
	font-family: $font-p;
	font-weight: bold;
	h1 {
		
		text-transform: uppercase;
	}
	&-icons {
		padding-bottom: 1em;
		margin: 0 2.5em .7em;
		display: flex;
		justify-content: center;
		border-bottom: 1px solid $soft-gray;
		width: 70%;
		margin: 0 auto;
		&-icon--cart {
			p {
				display: inline;
			}
		}
	}
	&-icon--cart {
		border: 1px solid $soft-gray;
		margin-left: 1.5em;
		padding: 0 1em;
	}
	.navbar {
		margin: .5em 0;
	}
	.nav-link {
		font-family: $font-title;
		text-transform: uppercase;
		color: $soft-gray;
	}&.nav-link:hover {
		color: $orange;
	}
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {
    
}