/* fonts */
/* colors */
/* modules */
/*---> Header */
.header {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.header h1 {
  text-transform: uppercase;
}

.header-icons {
  padding-bottom: 1em;
  margin: 0 2.5em .7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #e5e5e7;
}

.header-icons-icon--cart p {
  display: inline;
}

.header-icon--cart {
  border: 1px solid #e5e5e7;
  margin-left: 1.5em;
  padding: 0 1em;
}

/* carousel component */
.carousel {
  margin-bottom: 2em;
}

.carousel-item img {
  position: relative;
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
}

.carousel-caption {
  bottom: 35%;
  font-family: "Inconsolata", monospace;
  font-weight: bold;
}

.carousel-caption h2 {
  font-size: 4em;
}

.carousel-caption h2 h3 {
  font-size: 1.5em;
  letter-spacing: .4em;
}

/* product */
.product h2 {
  margin: 1em 1em;
}

.product-grid {
  display: -ms-grid;
  display: grid;
  margin: 0 1em;
  gap: 1em;
}

.product-card {
  position: relative;
  border: 1px solid #e5e5e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 310px;
}

.product-card img {
  /* border: 1px solid skyblue; */
  margin: 0 auto;
}

.product-card a {
  margin-bottom: 1em;
}

.product-name {
  color: #cccccc;
  margin: 0;
}

.product-price {
  color: #f60b0e;
  font-weight: bold;
  margin: 0;
}

.product-icons {
  width: 100%;
  padding: 0 1.5em;
  padding-bottom: .7em;
  display: inherit;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.product-flotante {
  background: #f60b0e;
  color: #fff;
  right: -18px;
  position: absolute;
  top: 1.8em;
  width: 79px;
  font-size: 13px;
  height: 29px;
  text-align: center;
  line-height: 2.3;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  cursor: pointer;
}

.product-flotante--primary {
  background: #ffc107;
}

.product-flotante--skyblue {
  background: #219ff3;
}

.product-flotante--gray {
  background: gray;
}

.product-card:hover .men-cart-pro {
  opacity: 1;
  visibility: visible;
}

.product .men-cart.pro {
  bottom: 0;
  left: 0;
  margin: auto;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
  visibility: hidden;
}

.product .inner-men-cart-pro {
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

.product .link-product-add-cart {
  width: 42%;
  top: 8em;
  left: 28%;
  margin: 0 auto;
  position: absolute;
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 2px;
  display: none;
}

.product .cart-active {
  display: block;
}

.product-after {
  margin-top: 2em;
}

@media screen and (min-width: 768px) {
  .product h2 {
    margin: 0 .5em 1em;
  }
  .product-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .product h2 {
    font-size: 2.5em;
  }
  .product-grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

/* day-counter */
.product-counter {
  width: 100%;
  text-align: center;
}

.product-counter figure {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 260px;
  background: url("../../assets/images/image-day-counter.jpg") no-repeat;
  margin: 0;
  background-size: cover;
  margin-top: 3em;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.product-counter h2 {
  font-size: 2.5em;
  padding: 0;
  font-size: 1em;
  color: white;
  margin: 0;
}

.product-counter .simply-countdown-custom {
  padding-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-counter .simply-amount {
  padding-left: 1em;
  font-size: 1.2em;
  color: white;
}

.product-counter .simply-word {
  display: block;
  margin-left: .5em;
  font-size: 1.2em;
  text-transform: uppercase;
  color: white;
}

@media screen and (min-width: 768px) {
  /* counter */
  .product-counter figure {
    height: 300px;
  }
  .product-counter figure {
    height: 460px;
  }
  .product-counter h2 {
    font-size: 2em;
  }
  .product-counter .simply-amount {
    font-size: 1.5em;
  }
  .product-counter .simply-word {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1024px) {
  /* counter */
  .product-counter figure {
    height: 460px;
    background-position: 15% 15%;
  }
  .product-counter h2 {
    font-size: 2.5em;
  }
  .product-counter .simply-amount {
    font-size: 2em;
  }
  .product-counter .simply-word {
    font-size: 2em;
  }
}

/* testimonials */
.testimonials {
  text-align: center;
  margin: 2.5em 0 0 0;
}

.testimonials-container {
  background: #f7f7f7;
}

.testimonials h2 {
  font-family: "Inconsolata", monospace;
  font-size: 2.5em;
  margin-bottom: 1em;
}

.testimonials-name {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}

.testimonials-name span {
  color: #cccccc;
}

.testimonials-place {
  font-family: "Roboto", sans-serif;
  color: #ff8d5b;
  font-size: 1.1em;
}

.testimonials-description {
  color: #a0a0a1;
  padding: 0 1.5em 1.5em;
  max-width: 400px;
  margin: 0 auto;
}

/* pick */
.pick {
  width: 100%;
  font-family: "Inconsolata", monospace;
  margin: 2.5em 0 0 0;
}

.pick-grid {
  display: -ms-grid;
  display: grid;
  width: inherit;
  height: 300px;
}

.pick-1 {
  width: 100%;
  height: 100%;
  margin: 0;
  background: url("../../assets/images/banner1.jpg") center top no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
}

.pick-description {
  text-transform: uppercase;
  color: white;
  padding-top: 10vh;
  font-size: 1.8em;
}

.pick-description span {
  color: #ff8d5b;
}

.pick-2 {
  width: 100%;
  height: 100%;
  margin: 0;
  background: url("../../assets/images/carousel-woman.jpg") center center no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
  position: relative;
  z-index: -100;
}

/* help */
.help {
  margin-top: 4em;
}

.help-grid {
  display: -ms-grid;
  display: grid;
  gap: 2.5em;
  font-family: "Roboto", sans-serif;
}

.help-item {
  margin: 0 1em;
}

.help-description {
  margin: 3em 0 1.5em;
  color: #a0a0a1;
  line-height: 1.7em;
}

.help-btn {
  background-color: white;
  border: 2px solid #ff8d5b;
  color: #454546;
  text-transform: uppercase;
  font-family: "Inconsolata", monospace;
}

@media screen and (min-width: 768px) {
  /* pick */
  .pick-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
}

@media screen and (min-width: 1024px) {
  /* help */
  .help-grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

/* guaranted */
.guaranted {
  background-color: #f7f7f7;
  padding: 1.5em;
  margin: 5em 1em 0;
}

.guaranted-grid {
  height: 400px;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.guaranted-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.guaranted-item svg {
  border: 1px solid #a0a0a1;
  border-radius: 50%;
  margin-right: .5em;
}

.guaranted-description {
  font-family: "Inconsolata", monospace;
}

.guaranted-description h4 {
  text-transform: uppercase;
  font-size: 1em;
  color: #ff8d5b;
  font-weight: bold;
}

.guaranted-description p {
  font-size: 1em;
  color: #a0a0a1;
}

@media screen and (min-width: 768px) {
  /* guaranted */
  .guaranted-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    height: 200px;
  }
}

@media screen and (min-width: 1024px) {
  /*Guaranted  */
  .guaranted {
    padding: 0 3em;
  }
  .guaranted-grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 2em;
  }
}

/* foooter */
.footer {
  background: #151515;
}

.footer-grid {
  display: -ms-grid;
  display: grid;
}

.footer-item {
  margin: 1em .8em 0;
}

.footer-item svg {
  fill: #cccccc;
  margin: .3em .5em;
}

.footer-title {
  border-bottom: 1px solid #a0a0a1;
  padding-bottom: .5em;
  color: white;
}

.footer-p {
  font-size: .8em;
  color: #a0a0a1;
}

.footer-p--sub {
  font-size: .8em;
  color: #f60b0e;
}

.footer-nav {
  list-style: none;
  padding: 0 0 1em;
}

.footer-input {
  background: transparent;
  width: 100%;
  padding: 0 .5em;
  background: url("../../assets/icons/SVG/gmail.svg") right no-repeat;
}

@media screen and (min-width: 1024px) {
  /* footer */
  .footer-grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 2em;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}
/*# sourceMappingURL=style.css.map */