/* fonts */
$font-title: 'Inconsolata', monospace;
$font-p: 'Roboto', sans-serif;
$soft-black: #454546;
$soft-gray: #e5e5e7;

$dark-gray: #cccccc;
$blue-gray: #a0a0a1;
$bg-gray: #f7f7f7;
$bg-dark: #151515;

/* colors */
$red-btn: #f60b0e;
$yellow: #ffc107;
$skyblue: #219ff3;
$orange: #ff8d5b;

/* modules */
@import './header';
@import './carousel';
@import './product';
@import './counter';
@import	'./testimonials';
@import	'./help';
@import	'./guaranted';
@import	'./footer';

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
}