/* fonts */
$font-title: 'Inconsolata', monospace;
$font-p: 'Roboto', sans-serif;
$soft-black: #454546;
$soft-gray: #e5e5e7;
$dark-gray: #cccccc;
$blue-gray: #a0a0a1;
$bg-gray: #f7f7f7;
/* colors */
$red-btn: #f60b0e;
$yellow: #ffc107;
$skyblue: #219ff3;
$orange: #ff8d5b;

/* modules */


.wrapper {
	margin: 0 auto;
	max-width: 1200px;
}
/*---> Header */
.header {
	text-align: center;
	font-family: $font-p;
	font-weight: bold;
	h1 {
		
		text-transform: uppercase;
	}
	&-icons {
		padding-bottom: 1em;
		margin: 0 2.5em .7em;
		display: flex;
		justify-content: center;
		border-bottom: 1px solid $soft-gray;
		&-icon--cart {
			p {
				display: inline;
			}
		}
	}
	&-icon--cart {
		border: 1px solid $soft-gray;
		margin-left: 1.5em;
		padding: 0 1em;
	}
}


/* carousel component */
.carousel {
	&-inner {
		height: 75vh;
		
	}
	&-item {
		
		img {
			position: relative;
			filter:brightness(0.6);
		}
	}
	&-caption {
		bottom: 35%;
		font-family: $font-title;
		font-weight: bold;
		h2 {
			font-size: 4em;
			
		}
		h2 h3 {
			font-size: 1.5em;
			letter-spacing: .4em;
		}
	} 
}

/* product */
.product {
	h2 {
		margin: 1em 1em;
	}
	&-grid {
		display: grid;
		margin: 0 1em;
		gap: 1em;
	}
	&-card {
		position: relative;
		border: 1px solid $soft-gray;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 310px;
		img {
			
			/* border: 1px solid skyblue; */
			margin: 0 auto;
		}	
		a {
			margin-bottom: 1em;
		}
	}
	&-name {
		color: $dark-gray;
		margin: 0;
	}
	&-price {
		color: $red-btn;
		font-weight: bold;
		margin: 0;
	}
	&-icons {
		width: 100%;
		padding: 0 1.5em;
		padding-bottom: .7em;
		display: inherit;
		justify-content: space-around;
	}
	&-flotante {
		background: $red-btn;
    color: #fff;
    right: -18px;
    position: absolute;
    top: 1.8em;
    width: 79px;
    font-size: 13px;
    height: 29px;
    text-align: center;
    line-height: 2.3;
		transform: rotate(90deg);
		cursor: pointer;
	}
	&-flotante--primary {
		background: $yellow;
	}
	&-flotante--skyblue {
		background: $skyblue;
	}
	&-flotante--gray {
		background: gray;
	}
	/* day-counter */
	&-counter {
		width: 100%;
		text-align: center;

		figure {
			width: 100%;
			height: 260px;
			background: url('../../assets/images/image-day-counter.jpg') no-repeat;
			margin: 0;
			background-size: cover;
			margin-top: 3em;
			filter: brightness(60%);
		}
		h2 {
			padding: 2em 0 0;
			font-size: 1em;
			color: white;
			margin: 0;
		}
		.simply-countdown-custom {
			height: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.simply-amount {
			padding-left: 1em;
			font-size: 1em;
			color: white;
		}
		.simply-word {
			display: block;
			margin-left: .5em;
			font-size: 1.2em;
			text-transform: uppercase;
			color: white;

		}
	}
	&-after {
		margin-top: 3em;
	}
}

/* testimonials */
.testimonials {

	text-align: center;
	margin: 1em 1em;
	&-container {
		background: $bg-gray;
	}
	h2 {
		font-family: $font-title;
		font-size: 2.5em;
		margin-bottom: 1em;
	}
	&-name {
		font-family: $font-p;
		font-size: 1.2em;
	}
	&-name span {
		color: $dark-gray;
	}
	&-place {
		font-family: $font-p;
		color: $orange;
		font-size: 1.1em;
	}
	&-description {
		color: $blue-gray;
		padding: 0 1.5em 1.5em;
		max-width: 400px;
		margin: 0 auto;
	}
}
/* pick */
.pick {
	width: 100%;
	height: 225px;
	font-family: $font-title;
	margin-bottom: 2em;
	&-grid {
		display: grid;
		width: inherit;
		height: inherit;
	}
	&-1 {
		width: 100%;
		height: 100%;
		margin: 0;
		background: url('../../assets/images/banner1.jpg') center top no-repeat;
		background-size: cover;
		filter: grayscale(50%);
	}
	&-description {
		text-transform: uppercase;
		color: white;
		padding-top: 10vh;
		font-size: 1.8em;
		span {
			color: $orange;
		}
	}
	&-2 {
		width: 100%;
		height: 100%;
		margin: 0;
		background: url('../../assets/images/carousel-woman.jpg') center center no-repeat;
		background-size: cover;
		filter: grayscale(50%);
		position: relative;
		z-index: -100;
	}
	
}

/* help */
.help	{
	margin-top: 4em;
	&-grid {
		display: grid;
		gap: 2.5em;
		font-family: $font-p;
	}
	&-item {
		margin: 0 1em;
	}
	&-description {
		margin: 3em 0 1.5em;
		color: $blue-gray;
		line-height: 1.7em;
	}
	&-btn {
		background-color: white;
		border: 2px solid $orange;
		color: $soft-black;
		text-transform: uppercase;
		font-family: $font-title;
	}
	
}

/* guaranted */
  .guaranted {
    background-color: $bg-gray;
    height: 300px;
    margin: 3em 0;
    &-grid {
      height: inherit;
      display: grid;
      align-content: center;
      justify-content: center;
    } 
    &-item {
      display: flex;
      
      svg {
        
        border: 1px solid $blue-gray;
        border-radius: 50%;
        margin-right: .5em;
      }
    } 
    &-description {
      font-family: $font-title;
      h4 {
        text-transform: uppercase;
        font-size: 1.5em;
        color: $orange;
        font-weight: bold;
      }
      p {
        font-size: 1em;
        color: $blue-gray;
      }
    }
  }


@media screen and(min-width:768px) {
 
	.product {
		&-grid {
			grid-template-columns: repeat(2, 1fr);
			
		}
	}

	/* pick */
	.pick {
		&-grid {
			grid-template-columns: repeat(2, 1fr);
			gap: 1em;
		}
	}

  /* guaranted */
  .guaranted {
    height: 200px;
    &-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 2em;
    }
  }
}

@media screen and (min-width: 1024px) {
	.product {
		&-grid {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	/* help */
	.help {

		&-grid {
			grid-template-columns: repeat(3, 1fr);
		}
	}
  /*Guaranted  */
  .guaranted {
    padding: 0 3em;
    &-grid {
      grid-template-columns: repeat(4, 1fr);
      gap: 2em;
    }
  }
}